.container {
  margin-top: 10px;
  text-align: center;

  .header_resource {
    text-decoration: underline;
  }

  .cards {
    // margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 0 10px;
      border-radius: 8px;
      border: 1px solid grey;
      width: 200px;
      text-align: center;
      padding: 5px;
      margin-top: 10px;

      button {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 16px;
        font-weight: 500;
        background-color: #1a1a1a;
        cursor: pointer;
        margin-top: 10px;
        user-select: none;

        &:hover {
          border-color: #646cff;
        }

        &:focus,
        &:focus-visible {
          outline: 4px auto -webkit-focus-ring-color;
        }
      }
    }
  }
}
